<!DOCTYPE html>
<html lang="en">

<head>
    <title>Val do Txuba - Registar</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="imag/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--===============================================================================================-->
    <link href="img/VALDOTXUBA.png" rel="icon">
    <link href="img/VALDOTXUBA.png" rel="apple-touch-icon">
    <style>
        @import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

        body {
            padding: 50px;
            font: 13px Helvetica, Arial, sans-serif;
        }

        .error {
            color: red;
            margin-left: 15px;
        }

        .success {
            color: green;
        }

        .info-msg,
        .success-msg,
        .warning-msg,
        .error-msg {
            margin: 10px 0;
            padding: 10px;
            border-radius: 3px 3px 3px 3px;
        }

        .info-msg {
            color: #059;
            background-color: #BEF;
        }

        .success-msg {
            color: #270;
            background-color: #DFF2BF;
        }

        .warning-msg {
            color: #9F6000;
            background-color: #FEEFB3;
        }

        .error-msg {
            color: #D8000C;
            background-color: #FFBABA;
        }
    </style>

</head>

<body>


    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-t-50 p-b-90">
                <form class="login100-form validate-form flex-sb flex-w" method="post" action="/registar">
                    <span class="login100-form-title p-b-51">
                        Registar
                    </span>

                    <%- message %>


                        <div class="wrap-input100 validate-input m-b-16" data-validate="NIF Necessário">
                            <input class="input100" type="number" name="username" placeholder="NIF" required>
                            <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100 validate-input m-b-16" data-validate="Nome Necessário">
                            <input class="input100" type="text" name="nome" placeholder="Nome" required>
                            <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100 validate-input m-b-16" data-validate="Password Necessária">
                            <input class="input100" type="password" name="pass" placeholder="Password" required>
                            <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100 validate-input m-b-16" data-validate="Password Necessária">
                            <input class="input100" type="password" name="pass_check" placeholder="Confirmar Password"
                                required>
                            <span class="focus-input100"></span>
                        </div>

                        <div class="container-login100-form-btn m-t-17">
                            <!--<button class="login100-form-btn" id="but_submit" name="but_submit">
							Login
						</button>-->

                            <input type="submit" value="Registar" class="login100-form-btn">
                            <a style="text-align: center; font-size: 20px; margin-top: 10px;" class="button_back"
                                href="/login">Já tenho uma conta</A>
                        </div>

                </form>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <!--<script src="vendor/jquery/jquery-3.2.1.min.js"></script>-->
    <!--===============================================================================================-->
    <!--<script src="vendor/animsition/js/animsition.min.js"></script>-->
    <!--===============================================================================================-->
    <!--<script src="vendor/bootstrap/js/popper.js"></script>-->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <!--<script src="vendor/select2/select2.min.js"></script>-->
    <!--===============================================================================================-->
    <!--<script src="vendor/daterangepicker/moment.min.js"></script>-->
    <!--<script src="vendor/daterangepicker/daterangepicker.js"></script>-->
    <!--===============================================================================================-->
    <!--<script src="vendor/countdowntime/countdowntime.js"></script>-->
    <!--===============================================================================================-->
    <!--<script src="js/mainlogin.js"></script>-->
    <script>
        var TGEIO =
            `TTTTTTTTTTTTTTTTTTTTTTT       GGGGGGGGGGGGGEEEEEEEEEEEEEEEEEEEEEEIIIIIIIIII     OOOOOOOOO           222222222222222         000000000     
		  T:::::::::::::::::::::T    GGG::::::::::::GE::::::::::::::::::::EI::::::::I   OO:::::::::OO        2:::::::::::::::22     00:::::::::00   
		  T:::::::::::::::::::::T  GG:::::::::::::::GE::::::::::::::::::::EI::::::::I OO:::::::::::::OO      2::::::222222:::::2  00:::::::::::::00 
		  T:::::TT:::::::TT:::::T G:::::GGGGGGGG::::GEE::::::EEEEEEEEE::::EII::::::IIO:::::::OOO:::::::O     2222222     2:::::2 0:::::::000:::::::0
		  TTTTTT  T:::::T  TTTTTTG:::::G       GGGGGG  E:::::E       EEEEEE  I::::I  O::::::O   O::::::O                 2:::::2 0::::::0   0::::::0
				  T:::::T       G:::::G                E:::::E               I::::I  O:::::O     O:::::O                 2:::::2 0:::::0     0:::::0
				  T:::::T       G:::::G                E::::::EEEEEEEEEE     I::::I  O:::::O     O:::::O              2222::::2  0:::::0     0:::::0
				  T:::::T       G:::::G    GGGGGGGGGG  E:::::::::::::::E     I::::I  O:::::O     O:::::O         22222::::::22   0:::::0 000 0:::::0
				  T:::::T       G:::::G    G::::::::G  E:::::::::::::::E     I::::I  O:::::O     O:::::O       22::::::::222     0:::::0 000 0:::::0
				  T:::::T       G:::::G    GGGGG::::G  E::::::EEEEEEEEEE     I::::I  O:::::O     O:::::O      2:::::22222        0:::::0     0:::::0
				  T:::::T       G:::::G        G::::G  E:::::E               I::::I  O:::::O     O:::::O     2:::::2             0:::::0     0:::::0
				  T:::::T        G:::::G       G::::G  E:::::E       EEEEEE  I::::I  O::::::O   O::::::O     2:::::2             0::::::0   0::::::0
				TT:::::::TT       G:::::GGGGGGGG::::GEE::::::EEEEEEEE:::::EII::::::IIO:::::::OOO:::::::O     2:::::2       2222220:::::::000:::::::0
				T:::::::::T        GG:::::::::::::::GE::::::::::::::::::::EI::::::::I OO:::::::::::::OO      2::::::2222222:::::2 00:::::::::::::00 
				T:::::::::T          GGG::::::GGG:::GE::::::::::::::::::::EI::::::::I   OO:::::::::OO        2::::::::::::::::::2   00:::::::::00   
				TTTTTTTTTTT             GGGGGG   GGGGEEEEEEEEEEEEEEEEEEEEEEIIIIIIIIII     OOOOOOOOO          22222222222222222222     000000000     
																																					`

        console.log(TGEIO)
    </script>

</body>

</html>